# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.A2.iml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.xml
*.json
/project.assets.json
*.bin
*.cache
*.info
/Server/obj
/Client/obj
*.dll
*/bin
Client/bin